{% extends 'homebase.html.twig' %}
{% block title %}{{data[0].title}}{% endblock %}
{% block keywords%}{{ data[0].keywords }}{% endblock %}
{% block description%}{{ data[0].description }}{% endblock %}
{% block body %}


{% include ('home/slider.html.twig') %}

		<section class="wn__product__area brown--color pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2">New <span class="color--theme">Cars</span></h2>
						</div>
					</div>
				</div>
				<div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
			
				
			
			{% for rs in newcar %}
					<div class="product product__style--3">
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="product__thumb">
								<a class="first__img" href="{{path('car_show', {'id':rs.id})}}"><img src="{{asset('uploads/images/' ~ rs.image)}}" alt="product image" style="height:340px;width:270px;"></a>
							
							
							</div>
							<div class="product__content content--center content--center">
								<h4><a href="single-product.html">{{rs.title}}</a></h4>
						
							</div>
						</div>
					</div>
			{% endfor %}


				</div>
			</div>
		</section>
		

		<section class="wn__bestseller__area bg--white pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2">All <span class="color--theme">Cars</span></h2>
						</div>
					</div>
				</div><br>
        			<div class="col-lg-12 col-12 order-1 order-lg-2">
        			
        				<div class="tab__container">
	        				<div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
	        					<div class="row">
	        		
	        						
									{% for rs in allcar %}
		        					<div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
			        					<div class="product__thumb">
											<a class="first__img" href="{{path('car_show', {'id':rs.id})}}"><img src="{{asset('uploads/images/' ~ rs.image)}}" alt="product image" style="height:340px;width:270px;"></a>
									
										</div>
										<div class="product__content content--center content--center">
											<h4><a href="single-product.html">{{rs.title}}</a></h4>
											<ul class="prize d-flex">
												{# <li>{{rs.price}}₺</li>
												<li>{{ rs.amount }} adet</li> #}
											</ul>
										
										</div>
		        					</div>
									{% endfor %}
	        					</div>

	        				</div>
	        			
        				</div>
        			</div>
				
			</div>
		</section>

    {% endblock %}