{% extends 'homebase.html.twig' %}
{% block title %}
	{{car.title}}
{% endblock %}
{% block keywords%}
	{{ car.keywords }}
{% endblock %}
{% block description%}
	{{ car.description }}
{% endblock %}
{% block body %}
	<!-- Start Bradcaump area -->
	<div class="ht__bradcaump__area" style="background-image: url({{asset('assets/images/02.jpg')}}); background-position: center; background-size: cover;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					
				</div>
			</div>
		</div>
	</div>
	<!-- End Bradcaump area -->
	<!-- Start main Content -->
	<div class="maincontent bg--white pt--80 pb--55">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-12">
					<div class="wn__single__product">
						<div class="row">
							<div class="col-lg-6 col-12">
								<div class="wn__fotorama__wrapper">
									<div class="fotorama wn__fotorama__action" data-nav="thumbs">
										<a href="1.jpg"><img src="{{asset('uploads/images/' ~ car.image)}}" alt=""></a>

										{% for rs in image %}
											<a href="1.jpg"><img src="{{asset('uploads/images/' ~ rs.image)}}" alt=""></a>
										{% endfor %}
									</div>
								</div>
							</div>
								<div class="col-lg-6 col-12">
								<div class="product__info__main">
									<h1>{{ car.title }}</h1>
									<div class="product-reviews-summary d-flex">
										<ul class="rating-summary d-flex">
											<li>
												<i class="zmdi zmdi-star-outline"></i>
											</li>
											<li>
												<i class="zmdi zmdi-star-outline"></i>
											</li>
											<li>
												<i class="zmdi zmdi-star-outline"></i>
											</li>
											<li class="off">
												<i class="zmdi zmdi-star-outline"></i>
											</li>
											<li class="off">
												<i class="zmdi zmdi-star-outline"></i>
											</li>
										</ul>
									</div>
									<div class="price-box">
										<span>{{car.price}}₺</span>
									</div>
									<div class="product__overview">
										<p>{{ car.description }}</p>
									</div>
									<div class="box-tocart d-flex">
										<form action="{{ path('user_rent_new', {'cid':car.id}) }}" method="post">
											<span>DAYS</span>
											<input id="qty" class="input-text qty" name="day" min="1" value="1" title="Qty" type="number">
											<span>Rent in</span>
											<input name="rentin"  id="rentin"  type="date">
											
											<div class="addtocart__actions">
												<button class="tocart" type="submit" title="RentCar">Rent Car</button>
											</div>
										</form>
									</div>
									<div class="product_meta">
										<span class="posted_in">Categories:
											<a href="#">Adventure</a>,
											<a href="#">Cars</a>
										</span>
									</div>
									<div class="product-share">

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="product__info__detailed">
						<div class="pro_details_nav nav justify-content-start" role="tablist">
							<a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Details</a>
							<a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Reviews</a>
						</div>
						<div
							class="tab__container">
							<!-- Start Single Tab Content -->
							<div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
								<div class="description__attribute">
									<p>{{ car.detail | raw}}</p>

								</div>
							</div>
							<!-- End Single Tab Content -->
						
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
	{% endblock %}
