{% extends 'base.html.twig' %}

{% block title %}Messages index{% endblock %}

{% block body %}
    <h1>Messages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Email</th>
                <th>Status</th>
                <th>Ip</th>
                <th>Note</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.name }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.status }}</td>
                <td>{{ message.ip }}</td>
                <td>{{ message.note }}</td>
                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ message.updatedAt ? message.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_messages_show', {'id': message.id}) }}">show</a>
                    <a href="{{ path('admin_messages_edit', {'id': message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_messages_new') }}">Create new</a>
{% endblock %}
