{% extends 'adminbase.html.twig' %}


{% block title %}Rent
{% endblock %}

{% block body %}
	<div class="dashboard-wrapper">
		<div class="container-fluid dashboard-content">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<h3 class="text-center">
						<h1>Rent</h1>

						<table class="table">
							<tbody>
								<tr>
									<th>Id</th>
									<td>{{ rent[0].id }}</td>
								</tr>
							<tr>
								<th>User Profil</th>
								<td>
									<a href="{{ path('admin_user_show', {'id': rent[0].userid}) }}">
										{{ rent[0].uname }}</a>
								</td>
							</tr>
							<tr>
								<th>Kiralanan Araba</th>
								<td>
									<a href="{{ path('car_show', {'id':rent[0].carid}) }}">
										{{ rent[0].cname }}</a>
								</td>
							</tr>
								<tr>
									<th>Name</th>
									<td>{{ rent[0].name }}</td>
								</tr>
								<tr>
									<th>Surname</th>
									<td>{{ rent[0].surname }}</td>
								</tr>
								<tr>
									<th>Email</th>
									<td>{{ rent[0].email }}</td>
								</tr>
								<tr>
									<th>Phone</th>
									<td>{{ rent[0].phone }}</td>
								</tr>
								<tr>
									<th>Day</th>
									<td>{{ rent[0].day }}</td>
								</tr>
								<tr>
									<th>Totalprice</th>
									<td>{{ rent[0].totalprice }}</td>
								</tr>
								<tr>
									<th>Ip</th>
									<td>{{ rent[0].ip }}</td>
								</tr>
								<tr>
									<th>Message</th>
									<td>{{ rent[0].message }}</td>
								</tr>
								<tr>
									<th>Note</th>
									<td>{{ rent[0].note }}</td>
								</tr>
								<tr>
									<th>Status</th>
									<td>{{ rent[0].status }}</td>
								</tr>
								<tr>
									<th>Rent in</th>
									<td>{{ rent[0].rentin  | date('m/d/Y')  }}</td>
								</tr>
								<tr>
									<th>Rent out</th>
									<td>{{ rent[0].rentout  | date('m/d/Y')  }}</td>
								</tr>
								<tr>
									<th>Created_at</th>
									<td>{{ rent[0].created_at ? rent[0].created_at|date('Y-m-d H:i:s') }}</td>
								</tr>
							
								<tr>
									<th>Price</th>
									<td>{{ rent[0].price }}</td>
								</tr>
								<tr>
									<th>Adress</th>
									<td>{{ rent[0].adress }}</td>
								</tr>
							</tbody>
						</table>


						<a href="{{ path('admin_rent_edit', {'id': rent[0].id}) }}">edit</a>

					</div>
				</div>
			</div>
		{% endblock %}
