{% extends 'homebase.html.twig' %}
{% block title %}{% endblock %}
{% block keywords%}{% endblock %}
{% block description%}{% endblock %}
{% block body %}
	<!-- Start Bradcaump area -->
	<div class="ht__bradcaump__area" style="background-image: url({{asset('assets/images/02.jpg')}}); background-position: center; background-size: cover;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="bradcaump__inner text-center">
						<h2>User Panel</h2>
						<nav class="bradcaump-content">
							<a href="/">Anasayfa</a>
							<span>/</span>
							<span class="breadcrumb_item active">User Panel</span>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Bradcaump area -->
	{% include ('user/usermenu.html.twig') %}

	<div class="container">
		<div class="blog-details content">
			<div class="comment_respond">
				<h3 class="reply_title">Kiraladiginiz Araba =>
					{{ car.title }}</h3>
				<h6>Fiyat =
					{{ car.price }}
					₺</h6>
				<h6>Day =
					{{ day }}
					Gün
				</h6>
				<h6>Total =
					{{ total }}
					₺</h6>
				<h6>Rent In Date =
					{{ rentin | date("m/d/Y") }}
				</h6>
				<h6>Rent Out Date =
					{{ rentout | date("m/d/Y") }}
				</h6>

				<br>
				<form method="post" name="rent" class="comment__form">
					<div class="input__wrapper clearfix">
						<div class="input__box  one--third">
							<input type="text" id="rent_name" name="rent[name]" placeholder="{{app.user.name}}">
						</div>
						<div class="input__box  one--third">
							<input type="text" id="rent_surname" name="rent[surname]" placeholder="{{app.user.surname}}">
						</div>

						<div class="input__box  one--third">
							<input type="text" id="rent_email" name="rent[email]" placeholder="{{app.user.email}}">
						</div>

					</div><br>
					<div class="input__wrapper clearfix">
						<div class="input__box  one--third">
							<input type="text" id="rent_email" name="rent[phone]" placeholder="Phone Number">
						</div>
					</div><br>

					<div class="input__box">
						<textarea name="rent[message]" placeholder="Yorumunuzu yazin"></textarea>
					</div>

					<input type="hidden" name="token" value="{{csrf_token('form-rent')}}"/>
					<input type="hidden" name="day" value="{{ day }}"/>
					<input type="hidden" name="rentin" value="{{ rentin | date("m/d/Y")}}"/>

					<div class="addtocart__actions">
						<button class="tocart" type="submit" title="Satin Al">Satin Al</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	{# {{ include('admin/rent/_form.html.twig', {'button_label': 'Update'}) }} #}


</div></div></div></div></div></div></div><!-- End Shop Page -->{% endblock %}
