{% extends 'homebase.html.twig' %}
{% block title %}{% endblock %}
{% block keywords%}{% endblock %}
{% block description%}{% endblock %}
{% block body %}
	<!-- Start Bradcaump area -->
	<div class="ht__bradcaump__area" style="background-image: url({{asset('assets/images/02.jpg')}}); background-position: center; background-size: cover;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="bradcaump__inner text-center">
						<h2>User Panel</h2>
						<nav class="bradcaump-content">
							<a href="/">Anasayfa</a>
							<span>/</span>
							<span class="breadcrumb_item active">User Panel</span>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Bradcaump area -->
	{% include ('user/usermenu.html.twig') %}


	<table class="table">
		<thead>
			<tr>
				<th>Car Name</th>
				<th>Name</th>
				<th>Surname</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Day</th>
				<th>Totalprice</th>
				<th>Price</th>
				<th>Message</th>
				<th>Status</th>
				 <th>Rent in</th>
				 <th>Rent out</th>
				 <th>Created At</th>
				<th>Action</th>

			</tr>
		</thead>
		<tbody>
			{% for rent in rents %}
				<tr>

					<td>
						<a href="{{ path('car_show', {'id':rent.carid}) }}">
							{{ rent.carname }}</a>
					</td>
					<td>{{ rent.name }}</td>
					<td>{{ rent.surname }}</td>
					<td>{{ rent.email }}</td>
					<td>{{ rent.phone }}</td>
					<td>{{ rent.day }}</td>
					<td>{{ rent.totalprice }}</td>
					<td>{{ rent.price }}</td>
					<td>{{ rent.message }}</td>
					<td>{{ rent.status }}</td>
					 <td>{{ rent.rentin | date('m/d/Y') }}</td>
					 <td>{{ rent.rentout | date('m/d/Y') }}</td>
					 <td>{{ rent.created_at ? rent.created_at|date('Y-m-d H:i:s') }}</td>

					<td>
						<a class="btn btn-primary" href="{{ path('user_rent_show', {'id': rent.id}) }}">show</a>
					</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="19">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


</div></div></div></div></div></div></div><!-- End Shop Page -->{% endblock %}
